#include "afxres.h"
#include "resource.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE 4, 2

IDD_M576CALIBRATOR_DIALOG DIALOGEX 0, 0, 360, 260
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "M576 / 1310 Calibrator (429F)"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           " ",IDC_STATIC_LABEL_COM,8,10,58,10
    COMBOBOX        IDC_COMBO_COM,70,8,180,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Open",IDC_BTN_OPEN_PORTS,258,6,94,14

    LTEXT           "path CSV:",-1,8,32,50,10
    EDITTEXT        IDC_EDIT_CSV,60,30,250,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_BROWSE_CSV,315,29,22,14

    LTEXT           "Backup BIN:",-1,8,52,50,10
    EDITTEXT        IDC_EDIT_BACKUP_BIN,60,50,250,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_BROWSE_BACKUP,315,49,22,14

    LTEXT           "Output BIN:",-1,8,72,50,10
    EDITTEXT        IDC_EDIT_OUT_BIN,60,70,250,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_BROWSE_OUT,315,69,22,14

    LTEXT           "Bundle SN:",-1,8,92,50,10
    EDITTEXT        IDC_EDIT_SN,60,90,120,14,ES_AUTOHSCROLL

    CONTROL         "",IDC_PROGRESS_MAIN,"msctls_progress32",WS_BORDER,8,112,344,12

    PUSHBUTTON      "Run path (RECAL)",IDC_BTN_RUN_PATH,8,132,88,16
    PUSHBUTTON      "Write BIN",IDC_BTN_GEN_BIN,102,132,88,16
    PUSHBUTTON      "Flash",IDC_BTN_FLASH,196,132,88,16
    PUSHBUTTON      "Stop",IDC_BTN_STOP,290,132,62,16

    EDITTEXT        IDC_EDIT_LOG,8,156,344,96,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER

    CTEXT           " ",IDC_STATIC_VERSION,8,248,344,10,SS_SUNKEN
END

#endif
